# Patterns
*.elc
*.el~
session.*
.lsp-session-*

# Specific files/dirs
/.agent-shell/
/.cache/
/anaconda-mode/
/auto-save-list/
/bookmarks
/eln-cache/
/elpa
/eshell/
/file-backups/
/history/
/local-settings.el
/obsolete/
/places
/projects
/request/
/scratch-backups/
/straight/
/transient/
/url/
/org-persist/

# Misc
.DS_Store
