# Patterns
*.elc
*.el~

# Specific files/dirs
/anaconda-mode/
/auto-save-list/
/eshell/
/file-backups/
/history/
/obsolete/
/request/
/scratch-backups/
/straight/
/transient/
/url/
/bookmarks
/local-settings.el
/places
